<% provide(:title, 'Filters') %>
<h1>Filters<h1>
<!-- 
	Filter by:
		Restaurant Name (Wildcard name)
		Cuisine (Checkmarks // all or many)
		Diet (Checkmarks // none or many)
		Calories (range)
		Rating (range)
		Dish (Wildcard name)
-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(:homepage, url: form_path) do |f| %>
  	  <%= f.label :dish_name, "Dish Name" %>
        <%= f.text_field :dish_name %>

      <%= f.label :restaurant_name, "Restaurant Name" %>
        <%= f.text_field :restaurant_name %>

      <%= f.label :cuisine_name, "Cuisine" %>
        <% @restaurantcuisines.each do |restaurantcuisine| %>
          <%= f.label :restaurant_cuisine, class: 'checkbox' do %>
  			<%= f.check_box :restaurant_cuisine %>
  			  <%= restaurantcuisine.cuisine %>
		  <% end %>
        <% end %>

      <%= f.label :violation_name, "Dietary Restriction" %>
        <% @dietaryviolations.each do |dietaryviolation| %>
          <%= f.label :dietary_violation, class: 'checkbox' do %>
  			<%= f.check_box :dietary_violation %>
  			  <%= dietaryviolation.diet %>
		  <% end %>
        <% end %>
      <div id="calory_slider"></div>
      <label class="control-label col-sm-2">Calories</label>
      	<b>0</b> <%= form_for :homepage, url: form_path do |cal| %>
    		<%= cal.hidden_field :min_cal %>
    		<%= cal.hidden_field :max_cal %>
    		<%= cal.submit "Submit" %> <b>5000</b>
		<% end %>
        
    <% end %>

  </div>
</div>


<!--
<form class="form-horizontal">

	<div class="container">
		<div class="row">
			<div class="form-group"> <!-- Dish Name 
				<label for="full_dish_id requiredField" class="control-label col-sm-2">Dish Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control w3-text-blue" id="full_dish_id" name="full_dish" placeholder="Dish Name">
				</div>  
			</div>
		</div>

		<div class="row">
			<div class="form-group"> <!-- Restaurant Name 
				<label for="full_restaurant_id requiredField" class="control-label col-sm-2">Restaurant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control w3-text-blue" id="full_restaurant_id" name="full_restaurant" placeholder="Restaurant Name">
				</div>  
			</div>
		</div>

		<div class="row">
			<div class="form-group"><!-- Cuisine Name 
				<label class="control-label col-sm-2">Cuisine</label>
				
				<div class="col-sm-8">
					<% @restaurantcuisines.each do |restaurantcuisine| %>
						<div class="row">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="cuisine_choices" value="<%= restaurantcuisine.cuisine %>">
									<%= restaurantcuisine.cuisine %>
								</label>
							</div>
						</div>
					<% end %>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Dietary Restriction</label>
					
				<div class="col-sm-8">
					<% @dietaryviolations.each do |dietaryviolation| %>
						<div class="row">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="diet_choices" value="<%= dietaryviolation.diet %>">
									<%= dietaryviolation.diet %>
								</label>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Calories</label>

				<div class="col-sm-8">
					<b>0</b> <input id="calories_slider" type="text" class="span_calories" value="" data-slider-min="0" data-slider-max="5000" data-slider-step="25" data-slider-value="[0,1500]"/> <b>5000</b>
					<script>
						$("#calories_slider").slider({});
					</script>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Rating</label>

				<div class="col-sm-8">
					<b>0</b> <input id="rating_slider" type="text" class="span_rating" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[0,5]"/> <b>5</b>
					<script>
						$("#rating_slider").slider({});
					</script>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Price Range</label>

				<div class="col-sm-8">
					<b>0</b> <input id="price_slider" type="text" class="span_price" value="" data-slider-min="0" data-slider-max="50" data-slider-step="0.5" data-slider-value="[0,25]"/> <b>50</b>
					<script>
						$("#price_slider").slider({});
					</script>
				</div>
			</div>
		</div>
	</div>						
	 
	<div class="form-group"> <!-- Submit Button 
		<div class="col-sm-10 col-sm-offset-2">                     

		</div>
	</div>        
	 
</form>  
 -->
